body {
  margin: 0 auto;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shapkaText {
  padding-top: 3%;
  font-size: medium;
  padding-bottom: 1%;
  padding-left: 24%;
  margin: 0 auto;
  width: 100%;
  background-color: rgb(17, 226, 226);
  color: rgb(255, 255, 255);
  

}

.inputStyle {
  padding-left: 24%;
  padding-top: 1%;
}
